input, textarea, select, fieldset {
    margin-bottom: .5rem;
}

input[type="email"],
input[type="text"]
{
	box-sizing: border-box;
	width: 100%;
	background-color: transparent;
	border-radius: 0;
	border-width: 0;
	border-bottom-width: 1px;
	border-style: dotted;
	border-color: #03003F;
	padding: .75em 0;
}

input:focus
{
	outline: none;
	border-bottom-width: 2px;
}

input[type="submit"]
{
	margin: 3rem auto;
    color: #fffbf2;
    border-radius: .4rem;
    border: none;
    padding: .75rem 1.5rem;
    font-size: 3rem;
    font-weight: 200;
    display: block;
    text-transform: inherit;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

input[type="submit"]:hover
{
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
	color: #fffbf2;
	background-color: $beetroot2;
}

input:-webkit-autofill
{
	background-color: transparent;
	background-image: none;
	color: #fffbf2;
}

label
{
	/*float: left;*/
	text-align: left;
}

#mc_embed_signup div.mce_inline_error
{
	background-color: #c51400;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

div#mce-success-response.response
{
	font-size: 1.2rem;
    margin-top: 3rem;
    color: #ef8522;
}

#mc_embed_signup
{
    max-width: 640px;
}

.mc-field-group
{
    max-width: 400px;
    display: block;
    margin: 0 auto;
}
