// HTML FONT SIZE IN %
// SCALING IT DOWN WITH MEDIA QUERIES
// THEN USING REMS TO GET EVERYTHING SCALED ACCORDING TO THE HTML SIZE
html
{
	font-size: 62.5%; // 10px (16px is the default)
}

@media (max-width: 1200px)
{
	html
	{
		font-size: 56.25%; // 9px
	}
}

// @media (max-width: 860px)
@media (max-width: 800px)
{
	html
	{
		font-size: 50%; // 8px
	}
}


/* System Fonts as used by Medium and WordPress */
body 
{
	// add your font here
	font-family: 'Alegreya', serif;
  	// font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	text-rendering: optimizeLegibility;
	// this doesn't work well with DIN
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}

b, strong
{
	// font-family: 'DINPro-Bold';
	font-weight: 700;
}

.italic 
{
  font-weight: 400i;
}

.italic b
{
	font-weight: 700i;
}

h1, h2, h3
{
	font-family: 'FrontageCondensed-Bold'
}

h1.standout, 
h2.standout
{
	// use for emphasis
}

h1
{
	font-size: 5rem;
	text-align: center;
	margin: 8rem 1rem 4rem;
}

h2
{
	font-size: 3rem;
	margin: 8rem 0 4rem;
}

h3
{
	font-size: 2.2rem;
	font-weight: 400;
}


h1 a,
h2 a,
h3 a,
a:-webkit-any-link
{
	text-decoration: none;
}

p, li, ul
{
	font-size: 2.2rem;
}

.nav-bar
{
	.home a
	{
		font-size: 1.6rem;
	}

	nav
	{

		li
		{
			a
			{
				font-size: 2rem;
				font-weight: 700i;
			}
		}
	}
}

.entry ol 
{
	list-style: none;
    counter-reset: my-badass-counter;
    // background-color: #fcf9ef;
    // margin: 6rem -12rem;
    // padding: 8rem 12rem 6rem 14rem;


	
	li
	{
		position: relative;
		margin-bottom: 5rem;
		
		&:before 
		{
		    content: counter(my-badass-counter);
		    counter-increment: my-badass-counter;
		    position: absolute;
		    left: -8rem;
    		// top: -4.5rem;
    		top: -1.7rem;
    		font-size: 300%;
    		color: $coral;
    		font-family: 'FrontageCondensed-Bold'
		}
	}
}

label
{
	font-family: 'FrontageCondensed-Regular';
	font-size: 2rem;
}

.nav-bar nav ul li
{
	font-family: 'FrontageCondensed-Regular';
}




// a i.fa-2x
// {
// 	font-size: 3rem;
// }

// p span.biginspiration
// {
// 	font-size: 4rem;
// }


// p span.inspirationB,
// p span.inspirationBI,
// p span.inspirationI
// {
// 	font-size: 3rem;
// }

// p span.inspirationB
// {
// 	font-weight: 700;
// }

// p span.inspirationBI
// {
// 	font-weight: 700i;
// }

// p span.inspirationI
// {
// 	font-weight: 400i;
// }
